@import url('https://fonts.googleapis.com/css?family=Ubuntu');


#page {
    background-color: #74bcab;
    margin: 0 auto 0 auto;
    padding: 20px;
    text-align: left;
}

#roleNum, #votingStatus, #verifiedStatus, #emailStatus{
    display:none;
}



.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
h2{
    color: #172121;
    text-align: center;
}

label{
    color: #172121;
    margin: 10px 0 10px 0;
}

input[type="submit"]{
    padding: 5px 25px 5px 25px;
    margin:10px 10px 10px 10px;
}

input[type="button"]{
    padding: 5px 25px 5px 25px;
    margin:10px 10px 10px 10px;
}


@media only screen and (max-width: 500px) {
    body {
        background-color: #403c3b;
    }
    #page {
        max-width: 480px;
    }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
    #page {
        max-width: 480px;
        margin: 20px auto 20px auto;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #page {
        max-width: 480px;
        margin: 20px auto 20px auto;
    }
}
/* Larger screens act like a demo for the app */
@media only screen and (min-width: 960px) {
    #page {
        max-width: 480px;
        margin: 20px auto 20px auto;
    }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    h1{
        background-size: 72px 72px;
    }
}