table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    width: 180px;
    margin-top: 25px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover{
    background-color: #a49aa3;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2265af;
    color: white;
}